@font-face {
  font-family: "tahoma-reg";
  src: url('../../fonts/tahoma/reg/Tahoma.ttf') format('truetype'),
  url('../../fonts/tahoma/reg/Tahoma.woff') format('WOFF'),
  url('../../fonts/tahoma/reg/Tahoma.eot') format('embedded-opentype'),
  url('../../fonts/tahoma/reg/Tahoma.svg')format('svg');

}
@font-face {
  font-family: "tahoma-bold";
  src: url('../../fonts/tahoma/bold/Tahoma-Bold.ttf') format('truetype'),
  url('../../fonts/tahoma/bold/Tahoma-Bold.woff') format('WOFF'),
  url('../../fonts/tahoma/bold/Tahoma-Bold.eot') format('embedded-opentype'),
  url('../../fonts/tahoma/bold/Tahoma-Bold.svg')format('svg');
}