$main-bright-grey: #dfdfdf;
$brand-black: #242424;
$secondary-blue: #114591;
$tertiary-white: #f3f3f3;
$att-pink: #cc204d;
$text-white: #fff;
$text-black: #000;
$text-grey:


$main-color: $main-bright-grey;
$brand-color: $brand-black;
$secondary-color: $secondary-blue;
$tertiary-color: $att-pink;
$base-text-color: $text-white;
$secondary-text-color: $text-black;
