$main-black: #000;
$brand-dark: #222;
$secondary-white: #fff;
$tertiary-grey: #6d6c6c;
$attention-pink: #cc204d;
$minority-blue: #1a58b6;
$info-grey: #a2a2a2;
$title-light: #a8a6a6;
$border-grey: #2a3033;
$foot-dark: #151515;
$main-border-grey: #b9b9b9;

$main-color: $main-black;
$brand-color: $brand-dark;
$secondary-color: $secondary-white;
$tertiary-color: $tertiary-grey;
$attention-color: $attention-pink;
$minority-color: $minority-blue;
$info-color: $info-grey;
$intro-title: $title-light;
$border-color: $border-grey;
$foot-color: $foot-dark;
$main-border: $main-border-grey;