.main-nav {
  width: 60%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 991px) {
    width: auto;
  }
}
.menu-list {
  @media (max-width: 991px) {
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    background: rgba(0, 0, 0, .95);
    display: none;
    z-index: 2;
  }
  li {
    position: relative;
    @media (max-width: 991px) {
     text-align: center;
    }


    &:after {
      @include pseudo('', block);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 3.6rem;
      @include small-bg("../img/line.png");
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  display: flex;
  justify-content: space-between;
}

.first-item {
  &:before {
    @include pseudo('', block);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 3.6rem;
    @include small-bg("../img/line.png");
  }
}