.text {
  font-size: 1.1rem;
  line-height: 1.3em;

  &-mini {
    font-size: 1.0rem;
  }
  &-tiny {
    font-size: 0.9rem;
  }
  &-secondary {
    color: $secondary-color;
  }
  &-attention {
    color: $attention-color;
  }
  &-bold {
    font-weight: 700;
  }
  &-tertiary {
    color: $tertiary-color;
  }
  &-inform {
    color: $info-color;
  }
  &-minority {
    color: $minority-color;
  }
}

.title {
  font-size: 1.4rem;
  color: $main-color;

  &-bold {
    font-weight: 700;
  }

  &-mini {
    font-size: 1.1rem;
  }
  &-normal {
    font-size: 1.2rem;
  }
  &-maxi {
    font-size: 1.6rem;
  }
  &-biggest {
    font-size: 1.7rem;
  }
  &-secondary {
    color: $secondary-color;
  }
  &-tertiary {
    color: $tertiary-color;
  }
  &-main {
    color: $main-color;
  }



}